[package]
name = "png"
version = "0.15.0"
license = "MIT OR Apache-2.0"

description = "PNG decoding and encoding library in pure Rust"
categories = ["multimedia::images"]
authors = ["nwin <nwin@users.noreply.github.com>"]
repository = "https://github.com/image-rs/image-png.git"

edition = "2018"
exclude = [
    "tests/*",
]

[dependencies]
inflate = "0.4.2"
deflate = { version = "0.7.12", optional = true }
bitflags = "1.0"
crc32fast = "1.2.0"

[dev-dependencies]
getopts = "0.2.14"
term = "0.6.1"
glob = "0.3"
rand = "0.7.0"

[dev-dependencies.glium]
version = "0.24"
features = ["glutin"]
default-features = false

[features]
png-encoding = ["deflate"]
default = ["png-encoding"]
unstable = []
benchmarks = []
