[package]
name = "png"
version = "0.17.6"
license = "MIT OR Apache-2.0"

description = "PNG decoding and encoding library in pure Rust"
categories = ["multimedia::images"]
authors = ["The image-rs Developers"]
repository = "https://github.com/image-rs/image-png.git"

edition = "2018"
include = [
    "/LICENSE-MIT",
    "/LICENSE-APACHE",
    "/README.md",
    "/CHANGES.md",
    "/src/",
    "/examples/",
    "/benches/",
]

[dependencies]
bitflags = "1.0"
crc32fast = "1.2.0"
flate2 = "1.0"
miniz_oxide = "0.5.0"

[dev-dependencies]
criterion = "0.3.1"
getopts = "0.2.14"
term = "0.7"
glob = "0.3"
rand = "0.8.4"

[dev-dependencies.glium]
version = "0.31"
features = ["glutin"]
default-features = false

[features]
unstable = []
benchmarks = []

[[bench]]
path = "benches/decoder.rs"
name = "decoder"
harness = false
