[package]
name = "image"
version = "0.18.0"
license = "MIT"
description = "Imaging library written in Rust. Provides basic filters and decoders for the most common image formats."
authors = [
    "ccgn",
    "bvssvni <bvssvni@gmail.com>",
    "nwin",
    "TyOverby <ty@pre-alpha.com>"]
readme = "README.md"
documentation = "https://docs.rs/image"
repository = "https://github.com/PistonDevelopers/image.git"
homepage = "https://github.com/PistonDevelopers/image"
categories = ["multimedia::images", "multimedia::encoding"]
exclude = [
    "src/png/testdata/*",
    "examples/*",
    "tests/*",
]

[lib]
name = "image"
path = "./src/lib.rs"

[dependencies]
byteorder = "1.2.1"
num-iter = "0.1.32"
num-rational = { version = "0.1.32", default-features = false }
num-traits = "0.1.32"
enum_primitive = "0.1.0"
lzw = "0.10.0"

[dependencies.gif]
version = "0.9.1"
optional = true

[dependencies.jpeg-decoder]
version = "0.1"
default-features = false
optional = true

[dependencies.png]
version = "0.11"
optional = true

[dependencies.scoped_threadpool]
version = "0.1"
optional = true

[dev-dependencies]
num-complex = "0.1.32"
glob = "0.2.10"

[features]
default = ["gif_codec", "jpeg", "ico", "png_codec", "pnm", "ppm", "tga", "tiff", "webp", "bmp", "hdr", "dxt", "jpeg_rayon"]

gif_codec = ["gif"]
ico = ["bmp", "png_codec"]
jpeg = ["jpeg-decoder"]
png_codec = ["png"]
pnm = []
ppm = ["pnm"]
tga = []
tiff = []
webp = []
bmp = []
hdr = ["scoped_threadpool"]
dxt = []
jpeg_rayon = ["jpeg-decoder/rayon"]

benchmarks = []
