[package]
name = "image"
version = "0.24.5"
edition = "2018"
resolver = "2"

# note: when changed, also update test runner in `.github/workflows/rust.yml`
rust-version = "1.61.0"

license = "MIT"
description = "Imaging library written in Rust. Provides basic filters and decoders for the most common image formats."
authors = ["The image-rs Developers"]
readme = "README.md"

# crates.io metadata
documentation = "https://docs.rs/image"
repository = "https://github.com/image-rs/image"
homepage = "https://github.com/image-rs/image"
categories = ["multimedia::images", "multimedia::encoding"]

# Crate build related
exclude = [
    "src/png/testdata/*",
    "examples/*",
    "tests/*",
]

[lib]
name = "image"
path = "./src/lib.rs"

[dependencies]
bytemuck = { version = "1.7.0", features = ["extern_crate_alloc"] } # includes cast_vec
byteorder = { version = "1.3.2", default-features = false }
num-rational = { version = "0.4", default-features = false }
num-traits = { version = "0.2", default-features = false }
gif = { version = "0.12", optional = true, default-features = false }
jpeg = { package = "jpeg-decoder", version = "0.3.0", default-features = false, optional = true }
png = { version = "0.17.6", optional = true }
scoped_threadpool = { version = "0.1", optional = true }
tiff = { version = "0.8.0", optional = true }
ravif = { version = "0.8.0", optional = true }
rgb = { version = "0.8.25", optional = true }
mp4parse = { version = "0.12.0", optional = true }
dav1d = { version = "0.6.0", optional = true }
dcv-color-primitives = { version = "0.4.0", optional = true }
# TODO(interstellar) no_std not supported on crate.io; need a fork/patch
# NOTE: also an optional dependency of "gif"
color_quant = { version = "1.1", git = "https://github.com/Interstellar-Network/color_quant.git", branch = "sgx-nostd-compat", default-features = false, optional = true }
exr = { version = "1.5.0", optional = true }
qoi = { version = "0.4", optional = true }
libwebp = { package = "webp", version = "0.2.2", default-features = false, optional = true }

[dev-dependencies]
crc32fast = "1.2.0"
num-complex = "0.4"
glob = "0.3"
quickcheck = "1"
criterion = "0.3"
# Keep this in sync with the jpeg dependency above. This is used to enable the platform_independent
# feature when testing, so `cargo test` works correctly.
jpeg = { package = "jpeg-decoder", version = "0.3.0", default-features = false, features = ["platform_independent"] }

[features]
# TODO: Add "avif" to this list while preparing for 0.24.0
default = ["std", "gif", "jpeg", "ico", "png", "pnm", "tga", "tiff", "webp", "bmp", "hdr", "dxt", "dds", "farbfeld", "jpeg_rayon", "openexr", "qoi"]

# MUST always compile with either "std" or "alloc"
# TODO(interstellar) add compile error in case of neither?
std = ["num-traits/std", "byteorder/std", "color_quant/std"]
alloc = ["num-traits/libm", "color_quant/num-traits"]

gif = ["std", "gif/default"]
jpeg = ["std", "dep:jpeg"]
png = ["std", "dep:png"]
tiff = ["std", "dep:tiff"]
ico = ["std", "bmp", "png"]
pnm = ["std"]
tga = ["std"]
bmp = ["std"]
hdr = ["std", "scoped_threadpool"]
dxt = ["std"]
dds = ["dxt"]
farbfeld = ["std"]
openexr = ["std", "exr"]
qoi = ["std", "dep:qoi"]

# Enables WebP decoder support.
webp = ["std"]
# Non-default, not included in `webp`. Requires native dependency libwebp.
webp-encoder = ["std", "libwebp"]

# Enables multi-threading.
# Requires latest stable Rust.
jpeg_rayon = ["std", "jpeg/rayon"]
# Non-default, enables avif support.
# Requires latest stable Rust.
avif = ["std", "avif-encoder"]
# Requires latest stable Rust and recent nasm (>= 2.14).
avif-encoder = ["std", "ravif", "rgb"]
# Non-default, even in `avif`. Requires stable Rust and native dependency libdav1d.
avif-decoder = ["std", "mp4parse", "dcv-color-primitives", "dav1d"]

# Build some inline benchmarks. Useful only during development.
# Requires rustc nightly for feature test.
benchmarks = ["std"]

[[bench]]
path = "benches/decode.rs"
name = "decode"
harness = false

[[bench]]
path = "benches/encode.rs"
name = "encode"
harness = false

[[bench]]
name = "copy_from"
harness = false

[[example]]
name = "tile"
required-features = ["std"]

[[example]]
name = "fractal"
required-features = ["std"]

[[example]]
name = "scaleup"
required-features = ["std"]

[[example]]
name = "concat"
required-features = ["std"]

[[example]]
name = "gradient"
required-features = ["std"]

[[example]]
name = "opening"
required-features = ["std"]

[[example]]
name = "decode"
required-features = ["std"]

[[example]]
name = "scaledown"
required-features = ["std"]

[[example]]
name = "convert"
required-features = ["std"]