[package]
name = "png"
version = "0.5.1"
license = "MIT/Apache-2.0"
description = "PNG decoding library"
authors = ["nwin <nwin@users.noreply.github.com>"]
repository = "https://github.com/PistonDevelopers/image-png.git"
exclude = [
    "tests/*",
]

[dependencies]
inflate = "0.1.0"
flate2 = { version = "0.2.11", optional = true }
num-iter = "0.1.32"
bitflags = "0.7"

[dev-dependencies]
getopts = "0.2.14"
term = "0.4"
glob = "0.2.11"

[dev-dependencies.glium]
version = "0.14"
features = ["glutin"]
default-features = false

[features]
png-encoding = ["flate2"]
default = ["png-encoding"]
unstable = []
